* {
    box-sizing: border-box;
}

.landingPage {
    display: flex;
    height: 550px;
    background-image: url(./LandingImage/mainPurple.png);
    background-position: center;
    background-size: 430px;
    background-repeat: no-repeat;
}

.greeting {
    width: fit-content;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: #EAF8E4;
    border: 2px solid var(--purple);
    background-color: white;
    color: var(--purple);
    font-weight: bolder;
}

button a {
    color: var(--purple);
    font-weight: bolder;
}

.landingPageLinkBox {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-top: 150px;
}

.landingButtons {
    font-size: 18px;
    color: var(--purple);
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
}