.recipeSort {
    border: 1px solid var(--lightPurple);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 25px;
}

.ingredients {
    height: fit-content;
    padding: 10px;
}

.ingredientsList {
    border: 1px solid var(--lightPurple);
    margin: auto;
    padding: 25px;
    width: fit-content;
}

.recipeSort select {
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}