.loginForm {
    margin: auto;
    margin-top: 100px;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--gray);
    flex-direction: column;
}

.loginForm fieldset {
    display: flex;
}

.loginForm input {
    width: 40%;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    background-color: var(--gray);
}

.loginForm label {
    text-align: center;
    color: var(--purple);
    font-weight: bolder;
    font-size: 18px;
    text-shadow: .5px 1px var(--gray);
}

.loginForm legend {
    text-align: center;
    margin: auto;
    margin: 10px;
    padding: 10px;
    color: var(--purple);
    font-weight: bolder;
    font-size: 26px;
    text-shadow: 1px 1px var(--gray);
}

.loginForm button,
.loginForm a {
    margin: auto;
    padding: 5px;
    background-color: var(--purple);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-shadow: .5px .5px var(--gray);
}