* {
    box-sizing: border-box;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple);
    padding: 0;
    margin: 0;
}

img {
    height: 100px;
    width: 140px;
    margin: auto;
    background-color: var(--purple);
}

@media screen and (min-width:1050px) {
    .header {
        height: 130px;
        display: flex;
        justify-content: center;
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--purple);
        padding: 0;
        margin: 0;
    }
    img {
        height: 130px;
        width: 170px;
        margin: auto;
        background-color: var(--purple);
    }
}