:root {
    --gray: #BFBCC0;
    --purple: #5e1770;
    --lightPurple: #8A64A3;
    --darkPurple: #340D3D;
    --white: white;
    background-size: 100%;
    background-color: #5E1770;
}

* {
    border-radius: 6px;
    letter-spacing: 1px;
    text-Decoration: none;
    color: black;
    font-family: Tahoma;
    /* Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; */
}