:root {
    --gray: #BFBCC0;
    --purple: #5E1770;
    --brick: #703217;
    --green: #297017;
    --blue: #175670;
    background-size: 100%;
    background-color: #5E1770;
}

* {
    border-radius: 5px;
    letter-spacing: 1px;
}