:root {
    --gray: #BFBCC0;
    --purple: #5e1770;
    --lightPurple: #8A64A3;
    --darkPurple: #482779;
    --brick: #703217;
    --green: #297017;
    --blue: #175670;
    --lightBlue: #38b6ff;
    --brown: #463f3a;
    --magenta: #cb6ce6;
    background-size: 100%;
    background-color: #5E1770;
}

* {
    border-radius: 5px;
    letter-spacing: 1px;
    text-Decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}